<div class="container">
    <p>Q3. Color me</p>
    <p>Design a simple layout that colors a box based on a user's input.</p>
    
  <div class="midm-width">
      <mat-form-field class="example-full-width topspace">
          <input matInput placeholder="Enter box no" [(ngModel)]="boxNo">
        </mat-form-field>
        <div style="text-align: center">
            <button mat-button class="button topspace" (click)="colorBox()">Color box</button>
            </div>
  </div>
    <div class="large-width topspace">
        <mat-grid-list cols="3" rowHeight="3:1">
            <mat-grid-tile id="one">1</mat-grid-tile>
            <mat-grid-tile id="two">2</mat-grid-tile>
            <mat-grid-tile id="three">3</mat-grid-tile>
            <mat-grid-tile id="four">4</mat-grid-tile>
            <mat-grid-tile id="five">5</mat-grid-tile>
            <mat-grid-tile id="six">6</mat-grid-tile>
            <mat-grid-tile id="seven">7</mat-grid-tile>
            <mat-grid-tile id="eight">8</mat-grid-tile>
            <mat-grid-tile id="nine">9</mat-grid-tile>
          </mat-grid-list>
    </div>
</div>
