<mat-toolbar color="primary">
  <span>Online Task</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>
<a routerLink="/" class="navLink">Task1</a>
<a routerLink="/task2" class="navLink">Task2</a>
<a routerLink="/task3" class="navLink">Task3</a>
</mat-toolbar>
<router-outlet></router-outlet>