<div class="container">
  <p>Q1. Find number if words in a string</p>
  <p>Sample Input: saveChangesInTheEditor</p>
  <p>Sample Output: 5</p>
    <mat-form-field class="example-full-width topspace">
        <input matInput placeholder="Enter String" [(ngModel)]="InputStrng">
      </mat-form-field>
      
        <button mat-button class="button topspace" (click)="count()">Count Words</button>
      
<div class="topspace">
  <h2>Output will appear here</h2>
  <h3>Total no of word: {{TotalWord}}</h3>
</div>
</div>

