/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;
    padding: 0;
}
.example-fill-remaining-space {
    
    flex: 1 1 auto;
  }
  .navLink {
      padding: 0 10px;
      text-decoration: none;
      color: #fff;
      font-size: 18px;
  }
  .container {
      max-width: 1400px;
      padding: 0 10%;
  }
  .example-full-width {
      width: 80%;
      float: left;
  }
  .example-small-width {
    width: 20%;
    float: left;
}
.button {
    background: green;
    color: #fff;
    margin: 0 20px !important;
}
.topspace {
    margin-top: 30px !important;
}