<div class="container">
    <p>Q2. Create table</p>
    <p>Create a web page which displays a table based on the user’s inputs.</p>
    
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
            <mat-form-field class="example-full-width topspace">
                <input matInput placeholder="Enter No of Rows" [(ngModel)]="rowNo">
              </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field class="example-full-width topspace">
                <input matInput placeholder="Enter No of Cols" [(ngModel)]="colNo">
              </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <div style="text-align: center">
    <button mat-button class="button topspace" (click)="createTable()">Create Table</button>
    </div>
    <div class="topspace">
        <h2>Output will appear here</h2>
        
      
    <table id="myTable" border="1"> 
      </table>
      </div>
</div>
